annotated-types==0.7.0
anyio==4.6.2.post1
asyncio-dgram==2.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cloudpickle==3.1.0
comtypes==1.4.7
contourpy==1.3.0
cryptography==41.0.7
cycler==0.12.1
Faker==30.8.1
Farama-Notifications==0.0.4
fastapi==0.115.3
filelock==3.16.1
fonttools==4.54.1
fsspec==2024.9.0
gymnasium==0.29.1
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.10
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==3.0.1
matplotlib==3.9.2
mcproto==0.5.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.2
networkx==3.4.1
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pillow==11.0.0
PyAutoGUI==0.9.54
pycparser==2.22
PyCraft==1503040
pydantic==2.9.2
pydantic_core==2.23.4
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==3.2.0
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
pytweening==1.2.0
pytz==2024.2
pywin32==308
pywinauto==0.6.8
requests==2.32.3
semantic-version==2.10.0
six==1.16.0
sniffio==1.3.1
starlette==0.41.0
sympy==1.13.1
torch==2.5.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
